@use '../abstracts' as a;

.password-generator {
    @include a.flexbox($direction: column, $align: center, $gap: #{var(--gap-calculator)});

    &__title {
        font-size: var(--fs-medium);
        color: var(--Topaz);
        margin: 0;
    }

    &__password-text {
        font-size: var(--fs-large);
        font-weight: var(--fw-bold);
        color: var(--Mischka);
    }

    &__copy-btn {
        cursor: pointer;
    }

    &__display-container {
        @include a.flexbox($align: center, $justify: space-between);
    }

    &__generator-form {
        @include a.flexbox($direction: column, $gap: a.rem(40));
        color: var(--Mischka);
        font-weight: var(--fw-bold);
    }

    &__length-config {
        @include a.flexbox($direction: column, $gap: a.rem(14));

        &-label {
            font-size: var(--fs-body);
        }

        &-value {
            font-size: var(--fs-large);
            color: var(--Mint-Green);
        }

        &-slider {
            -webkit-appearance: none;
            appearance: none;
            width: 100%;
            height: a.rem(10);
            outline: none;
            background: var(--Baltic-Sea);
            cursor: pointer;
        }

        &-slider::-webkit-slider-thumb {
            -webkit-appearance: none;
            appearance: none;
            width: 25px;
            height: 25px;
            background-color: var(--Mischka);
            border-radius: 50%;
            cursor: grab;

            &:hover {
                background-color: var(--Baltic-Sea);
                border: var(--mint-green-border);
            }
        }
    }

    &__length-config-header {
        @include a.flexbox($align: center, $justify: space-between);
    }

    .container {
        width: 100%;
        background-color: var(--Baltic-Sea-light);
        padding: a.rem(14) a.rem(20);

        &--dark {
            background-color: var(--Baltic-Sea);
        }
    }

    &__options {
        display: grid;
        gap: a.rem(16);
        padding: 0;

        &-item {
            @include a.flexbox($align: center, $justify: flex-start, $gap: a.rem(20));
            cursor: pointer;
        }

        &-checkbox {
            appearance: none;
            width: a.rem(20);
            height: a.rem(20);
            cursor: pointer;
            border: var(--mischka-border);

            &:hover {
                border: var(--mint-green-border);
            }
        }

        &-checkbox:checked {
            background: var(--green-200);
            background-image: url('/assets/images/icon-check.svg');
            background-repeat: no-repeat;
            background-position: center;
            border: none;
        }
    }

    &__strength-config {
        @include a.flexbox($align: center, $justify: space-between);
        text-transform: uppercase;

        &-label {
            color: var(--Topaz);
        }

        &-meter {
            @include a.flexbox($gap: a.rem(16));
        }

        &-value {
            font-size: var(--fs-medium);
        }

        &-indicator {
            @include a.flexbox($gap: a.rem(8));
        }

        &-bar {
            width: a.rem(10);
            height: a.rem(28);
            border: var(--mischka-border);
        }
    }

    &__generate-btn {
        border: 2px solid transparent;
        @include a.flexbox($align: center, $justify: center, $gap: a.rem(16));
        text-transform: uppercase;
        padding: a.rem(20) a.rem(20);
        margin-block-start: a.rem(-24);
        background-color: var(--green-200);
        color: var(--Baltic-Sea);

        &:hover {
            background-color: var(--Baltic-Sea);
            border: var(--mint-green-border);
            color: var(--Mint-Green);
            cursor: pointer;
        }

    }
}